
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*header*/
.header {
  padding: 30px 0;
}

.grid {
  max-width: 1600px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;

}

.logo img {
  width: 106px;
  transform: translate(130px, 20px);
}

.about {
  display: flex;
  justify-content: center;
  gap: 40px;
  transform: translate(135px, 20px);
}

.about p {
  text-decoration: none;

  color: #263238;
  font-size: 20px;
  font-family: Poppins;
}

.btn {
  width: 220px;
  height: 70px;

  background: transparent;

  border: 2px solid #263238;
  border-radius: 5px;

  font-size: 24px;
  font-family: Poppins;

  cursor: pointer;
  transform: translate(119px, 25px);
}
/*block 1*/
.learn {
}
.grid_1 {
  max-width: 1600px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}
.h1{
  display: grid;
  grid-template-columns: auto auto;
  max-width: 386px;
  font-size: 64px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 1.3;
  transform: translate(130px, 0px);
}
.h1_text {
  font-size: 64px;
  font-family: Poppins;
  font-weight: 900px; 
    
}
.image {
    width: 86px;
    transform: translate(50px, 90px);
}
.p {
    color: #8F95A5;
    font-size: 24px;
    font-family: Poppins;
    width: 632px;
    transform: translate(125px, 30px);
}
.btn1 {
    background-color: #263238;
    border: 2px solid #263238;
    border-radius: 15px;
    color: white;
    font-size: 36px;
    font-family: Poppins;
    padding-right: 118 117 32 32;
    width: 438px;
    height: 118px;
    transform: translate(130px, 95px);
}
.learn_image {
    width: 661px;
    transform: translate(155px, 45px);
}
/*block 2*/
h2{
    font-size: 48px;
    font-weight: 600;
    line-height: 80px;
    text-align: center;
    font-family: Poppins;
    margin-left: 230px;
}
.container{
    max-width: 1600px;
    width: 100%;
    padding: 0 30px;
    margin: 0 auto;
}
.skills {
    padding: 150px 0;

}
.skills__grid {
    display: grid;
    gap: 25px;
    grid-template-areas:
    "one two three"
    "one four four";
    grid-template-columns: repeat(3, 435px);
    justify-content: center;
    align-items: stretch;
    transform: translate(120px, 95px);
}
.speaking {
    grid-area: one;
    flex-direction: column;
    max-height: 894px;

}
.writing {
    grid-area: two;
    flex-direction: column;
    max-height: 531px;

}
.reading {
    grid-area: three;
    flex-direction: column;
    max-height: 531px;

}
.listening {
    grid-area: four;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 343px;
}
.listening .skills__grid-image{
    order: 1
}
.skills__grid-item {
    background-color: #f5f5f5;
    padding: 15px;
    border-radius: 15px;
    display: flex;    
    justify-content: space-between;
}

.skills__grid-image img{
    max-width: 100%;
}
.skills__grid-content h3{
    font-weight: 600;
    font-size: 30px;
    line-height: 80px;
    color: #263238;
    font-family: Poppins;
    transform: translate(30px, -30px);
}
.skills__grid-content p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8F95A5;
    max-width: 350px;
    width: 100%;
    font-family: Poppins;
    transform: translate(30px, -20px);
}
.skills__grid-content button{
    width: 218px;
    height: 60px;
    background: #263238;
    border-radius: 5px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    border: none;
    curser: pointer;
    transition: 0.3s all;
    margin-top: 30px;
    margin-bottom: 30px;
    transform: translate(30px, -30px);
}
.skills__grid-content button:hover{
    opacity: 0.8;
}
/*block 3*/
.about_us {
    max-width: 1600px;
    transform: translate(20px, 230px);
}
.grid_about {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;  
}
.about_text{
    transform: translate(100px, -80px);
}
.about_text h3{
    font-family: Poppins;
    font-size: 48px;

}
.about_text p{
    font-family: Poppins;
    font-size: 20px;
    color: #8F95A5;
    max-width: 635px;
    transform: translate(0px, 30px);

}

.about-item {
  display: flex;
  justify-content: center;
  gap: 120px;
  transform: translate(-70px, 110px);
}

.item_1,
.item_2,
.item_3 {
    color: #2A3246;
    font-size: 48px;
    font-family: Poppins;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: -30px;
    margin-left: 0px;

}
.item_1 b,
.item_2 b,
.item_3 b {
    font-weight: 900;
}
.item_1 p,
.item_2 p,
.item_3 p {
    margin-top: -30px;
    font-size: 20px;
}

.about_image {
    max-width: 500px;
    transform: translate(190px, 0px);
}
/*block 4*/
.pricing {
    max-width: 1600px;
    transform: translate(0px, 430px);
}

h2 {
    font-size: 48px;
    font-weight: 600;
    line-height: 80px;
    text-align: center;
    font-family: Poppins;
    margin-left: 230px;
}

.grid_pricing {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: start;
    gap: 60px;
    transform: translate(100px, 40px);
}

.pricing_1,
.pricing_2,
.pricing_3 {
    width: 400px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.pricing_1_image {
    width: 311px;
    height: 311px;
}

.pricing_2_image {
    width: 391px;
    height: 283px;
}

.pricing_3_image {
    width: 340px;
    height: 340px;
}

.pricing_1_text,
.pricing_2_text,
.pricing_3_text {
    margin-top: 60px;
    min-height: 180px;
}

.pricing_1_text b,
.pricing_2_text b,
.pricing_3_text b {
    font-family: Poppins;
    font-size: 30px;
    color: #263238;
    margin-top: 10px;
}

.pricing_1_text p,
.pricing_2_text p,
.pricing_3_text p {
    font-family: Poppins;
    font-size: 20px;
    color: #8F95A5;
    margin-top: 30px;
}

.pricing_1_button,
.pricing_2_button,
.pricing_3_button {
    background-color: #EEEEEE;
    width: 245px;
    height: 45px;
    border-radius: 5px;
    text-align: center;
    margin-top: auto;
}

.pricing_1_button span,
.pricing_2_button span,
.pricing_3_button span {
    font-family: Poppins;
    font-size: 30px;
    color: #263238;
    margin-right: 10px;
}

.pricing_1_button p,
.pricing_2_button p,
.pricing_3_button p {
    font-family: Poppins;
    font-size: 18px;
    color: #546269;
}
/*block 5*/
.contact {
    max-width: 1600px;
    transform: translate(0px, 650px);
}
.grid_contact {
    display: grid;
    grid-template-columns: auto auto;
    align-items: start;
    gap: 60px;
    transform: translate(110px, 40px);
}
.contact_image img{
    max-width: 477px;
}
.contact_text{
    max-width: 776px;
    margin-left: 50px;
    margin-top: 30px;
}
.contact_text h2{
    font-family: Poppins;
    font-size: 48px;
    margin-left: -500px;
}
.contact_text p{
    font-family: Poppins;
    font-size: 20px;
    color: #546269;
    margin-top: 40px;
}
.contact_text input{
    width: 450px;
    height: 80px;
    border-radius: 10px;
    color:#8F95A5;
    border: solid 1px;
    margin-top: 50px;
}
.contact_text input::placeholder{
    font-family: Poppins;
    font-size: 16px;
    color: #546269;
    padding-left: 50px;
}

.btncontact {
    width: 264px;
    height: 80px;
    background-color: #263238;
    color: #FFFFFF;
    border-radius: 10px;
    font-size: 20px;
    font-family: Poppins;
    margin-left: 10px;

}
/*footer*/
.footer {
    max-width: 1600px;
    transform: translate(120px, 810px);
}
.line {
  width: 1338px;
  height: 1px;
  background: #8F95A5;
}
.footer_logo {
    width: 106px;
    height: 54px;
    transform: translate(10px, 50px);
;
}
.footer_text {
    font-size: 24px;
    font-family: Poppins;
    color:#8F95A5;
    transform: translate(700px, 0px);
}











