
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*header*/
.header {
  padding: 30px 0;
}

.grid {
  max-width: 1600px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;

}

.logo img {
  width: 106px;
  transform: translate(130px, 20px);
}

.about {
  display: flex;
  justify-content: center;
  gap: 40px;
  transform: translate(135px, 20px);
}

.about p {
  text-decoration: none;

  color: #263238;
  font-size: 20px;
  font-family: Poppins;
}

.btn {
  width: 220px;
  height: 70px;

  background: transparent;

  border: 2px solid #263238;
  border-radius: 5px;

  font-size: 24px;
  font-family: Poppins;

  cursor: pointer;
  transform: translate(119px, 25px);
}
/*block 1*/
.learn {
}
.grid_1 {
  max-width: 1600px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}
.h1{
  display: grid;
  grid-template-columns: auto auto;
  max-width: 386px;
  font-size: 64px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 1.3;
  transform: translate(130px, 0px);
}
.h1_text {
  font-size: 64px;
  font-family: Poppins;
  font-weight: 900px; 
    
}
.image {
    width: 86px;
    transform: translate(50px, 90px);
}
.p {
    color: #8F95A5;
    font-size: 24px;
    font-family: Poppins;
    width: 632px;
    transform: translate(125px, 30px);
}
.btn1 {
    background-color: #263238;
    border: 2px solid #263238;
    border-radius: 15px;
    color: white;
    font-size: 36px;
    font-family: Poppins;
    padding-right: 118 117 32 32;
    width: 438px;
    height: 118px;
    transform: translate(130px, 95px);
}
.learn_image {
    width: 661px;
    transform: translate(155px, 45px);
}
/*block 2*/
